{#{% extends "base.html" %}#}
{% load staticfiles %}
{% load static %}
{##}
{##}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<body>#}
{##}
{#{% block healthcare %}#}
    <div class="tm-container-outer" id="tm-section-2">
{#                <span class="blank" style="height:60px;"></span>#}
                <section class="p-5 tm-container-outer tm-bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                            <h2 class="text-uppercase mb-4">Oral HealthCare <strong>In Australia</strong></h2>
                            <p class="mb-4">  </p>
{#                            <a href="#" class="text-uppercase btn-primary tm-btn">Continue explore</a>#}
                        </div>
                    </div>
                </div>
            </section>

                <main class="cards">
                    <article class="card card1 ">
                    <a class="card-inner" href="{% url 'system' %}">
                        <img src="{%  static 'img/health-system-overview.aa3cd2cc.png' %}" alt="Health System Overview">
                        <div class="text">
                            <p>Health System Overview</p>
                        </div>
                    </a>
                    </article>
                    <article class="card card1">
                        <a class="card-inner" href="{% url 'medicare' %}">
                            <img src="{%  static 'img/medicare-centrelink.2bf128a6.png' %}" alt="Medicare and Centrelink">
                            <div class="text">
                                <p>Medicare and Centrelink</p>
                            </div>
                        </a>
                    </article>
                    <article class="card card1">
                        <a class="card-inner" href="{% url 'rights' %}">
                            <img src="{%  static 'img/responsibilities.e23b7181.png' %}" alt="Your Rights and Responsibilities">
                            <div class="text"><p>Your Rights and Responsibilities</p>
                            </div>
                        </a>
                    </article>
                    <article class="card card1">
                        <a class="card-inner" href="{% url 'translation' %}">
                            <img src="{%  static 'img/translation.png' %}" alt="Translating and Interpreting Services">
                            <div class="text">
                                <p>Translating and Interpreting Services</p>
                            </div>
                        </a>
                    </article>
                    <article class="card card1">
                        <a class="card-inner" href="{% url 'insurance' %}">
                            <img src="{%  static 'img/private.png' %}" alt="Private Health Insurance">
                            <div class="text">
                                <p>Private Health Insurance</p>
                            </div>
                        </a>
                    </article>
                    <article class="card card1">
                        <a class="card-inner" href="{% url 'community' %}">
                            <img src="{%  static 'img/community.png' %}" alt="Community Based Services">
                            <div class="text">
                                <p>Community Based Services</p>
                            </div>
                        </a>
                    </article>
                </main>
    </div>
{#                <section class="tm-slideshow-section">#}
{#                    <div class="tm-slideshow">#}
{#                        <img src="{%  static 'img/tm-img-01.jpg' %}" alt="Image">#}
{#                        <img src="{%  static 'img/tm-img-02.jpg' %}" alt="Image">#}
{#                        <img src="{%  static 'img/tm-img-03.jpg' %}" alt="Image">#}
{#                    </div>#}
{#                    <div class="tm-slideshow-description tm-bg-primary">#}
{#                        <h2 class="">Europe's most visited places</h2>#}
{#                        <p>Aenean in lacus nec dolor fermentum congue. Maecenas ut velit pharetra, pharetra tortor sit amet, vulputate sem. Vestibulum mi nibh, faucibus ac eros id, sagittis tincidunt velit. Proin interdum ullamcorper faucibus. Ut mi nunc, sollicitudin non pulvinar id, sagittis eget diam.</p>#}
{#                        <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Continue Reading</a>#}
{#                    </div>#}
{#                </section>#}
{#                <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">#}
{##}
{#                    <div class="tm-right tm-slideshow tm-slideshow-highlight">#}
{#                        <img src="{%  static 'img/tm-img-02.jpg' %}" alt="Image">#}
{#                        <img src="{%  static 'img/tm-img-03.jpg' %}" alt="Image">#}
{#                        <img src="{%  static 'img/tm-img-01.jpg' %}" alt="Image">#}
{#                    </div>#}
{##}
{#                    <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">#}
{#                        <h2 class="">Asia's most popular places</h2>#}
{#                        <p>Vivamus in massa ullamcorper nunc auctor accumsan ac at arcu. Donec sagittis mattis pharetra. Proin commodo, ante et volutpat pulvinar, arcu arcu ullamcorper diam, id maximus sem tellus id sem. Suspendisse eget rhoncus diam. Fusce urna elit, porta nec ullamcorper id.</p>#}
{#                        <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-highlight">Continue Reading</a>#}
{#                    </div>#}
{##}
{#                </section>#}
{#                <section class="tm-slideshow-section">#}
{#                    <div class="tm-slideshow">#}
{#                        <img src="{%  static 'img/tm-img-02.jpg' %}" alt="Image">#}
{#                        <img src="{%  static 'img/tm-img-03.jpg' %}" alt="Image">#}
{#                        <img src="{%  static 'img/tm-img-01.jpg' %}" alt="Image">#}
{#                    </div>#}
{#                    <div class="tm-slideshow-description tm-bg-primary">#}
{#                        <h2 class="">America's most famous places</h2>#}
{#                        <p>Donec nec laoreet diam, at vehicula ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse nec dapibus nunc, quis viverra metus. Morbi eget diam gravida, euismod magna vel, tempor urna.</p>#}
{#                        <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Continue Reading</a>#}
{#                    </div>#}
{#                </section>#}

{#{% endblock %}#}
{##}
{#</body>#}